<div>
    <div>
        <h1>Nom actuel: {{this.getUsername()}}</h1>
        <label>Editer nom: </label>
        <input matInput [(ngModel)]="name">
        <button (click)="updateUsername()">sauvegarder</button>
    </div>
    <div>
        <h2>Editer Avatar</h2>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery" ></ngx-gallery>
        <button (click)="updateAvatar()">Savegarder Avatar</button>
    </div>
    <div>
        <button (click)="closeDialog()">Fermer</button>
    </div>
</div>
