.container {
    min-height: 100vh;
    height: auto;
    background-image: url('https://www.printablee.com/postpic/2011/03/blank-scrabble-board-template-printable_326282.jpg');
    background-position: center;
    background-attachment: fixed;
}

.justified {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
}

#profile {
    border-radius: 50%;
    background: transparent;
    height: 125px;
}

#chatWrapper {
    background-color: wheat;
    width: 60%;
    height: 55%;
    margin-top: 4%;
    position: absolute;
    border-top-left-radius: 20px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
