<body (click)="onLeftClickGamePage()">
    <div class="container">
        <app-sidebar></app-sidebar>
        <section class="play-area-container">
            <app-play-area class="play-area" tabindex="0"></app-play-area>
        </section>
        <div>
            <div id="playersInfoNoLog">
                <app-info-panel></app-info-panel>
                <!-- TODO REMOVE THAT LATER -->
                <button (click)="testFunction()">FOR TEST ONLY</button>
            </div>
            <div id="communicationBoxNoLog">
                <app-communication-box></app-communication-box>
            </div>   
            
        </div>
    </div>
</body>
