<body (click)="onLeftClickGamePage()">
    <div class="container">
        <app-sidebar></app-sidebar>
        <section class="play-area-container">
            <app-board-stand class="play-area" tabindex="0"></app-board-stand>
        </section>
        <div>
            <div id="playersInfoNoLog">
                <app-info-panel></app-info-panel>
                <button mat-flat-button class="button" (click)="openDialogWindow()" [disabled]="!infoClientService.game.gameFinished"> Résultats de partie </button>
            </div>
            <div id="communicationBoxNoLog">
                <app-communication-box></app-communication-box>
            </div>

        </div>
    </div>

    <!-- The Modal to ask for password when entering a game -->
    <div class="modal" [style.display]="isPlayerIncomming()">
        <div class="modal-content" >
            <h1>Le joueur {{infoClientService.incommingPlayer}} essaye de se connecter. Voulez vous l'accepter dans la partie ?</h1>
            <div>
                <button (click)="acceptPlayer(true)" class="btn">Oui</button>
                <button (click)="acceptPlayer(false)" class="btn">Non</button>
            </div>
        </div>
    </div>
</body>
