<body>
    <div class="bg-image"></div>
    <div id="container" class="center">
        <div id="container-content">
            <div class="container-1">
                <div class="box-1">
                    <mat-icon>person</mat-icon>
                    <p>{{ this.infoClientService.playerName }} (Vous)</p>
                </div>
            </div>

            <p class="roomName">Nom de la salle:</p>
            <div id="roomNameInputContainer">
                <input
                    id="roomName"
                    #name="ngModel"
                    required minlength="4"
                    maxlength="19"
                    type="text"
                    pattern="^[a-zA-Z0-9]+$"
                    ngModel />
            </div>
            <p id="instructionRoomName" class="roomName">Min 4 lettres, pas de charactere special.</p>

            <div class="radioTypeGame">
                <p class="roomName">Mode de partie:</p>
                <input type="radio" id="publicGame" name="unique" value="public" [checked]="true"(change)="onTypeGameChange($event)">
                <label for="publique">publique</label><br>
                <input type="radio" id="privateGame" name="unique" value="private" (change)="onTypeGameChange($event)">
                <label for="privee">privee</label><br>
            </div>
            <div id="passwdDiv">
                <mat-checkbox
                    id="mdpCheckbox"
                    [(ngModel)]="isChecked">
                Mot de passe
            </mat-checkbox>
                <input
                        id="passwdInput"
                        placeholder="mot de passe"
                        #mdp="ngModel"
                        required
                        minlength="1"
                        maxlength="20"
                        type="text"
                        name="mdp"
                        [hidden]="!isChecked"
                        pattern="^[a-zA-Z0-9]+$"
                        ngModel
                    />
                <p id="instructionRoomName" class="roomName" [hidden]="!isChecked">Min 1 lettre, pas de charactère special.</p>
            </div>
            <div class="container-2">
                <div class="container-2-box">
                    <h6 class="MPButton" routerLink="/multiplayer-init">
                        <mat-icon>arrow_back</mat-icon>
                    </h6>
                    <mat-form-field appearance="fill" class="multiplayerOptionsMulti">
                        <mat-label>Temps par tour :</mat-label>
                        <mat-select [(value)]="infoClientService.minutesByTurn">
                            <mat-option *ngFor="let interval of timeIntervals" [value]="interval.value">
                                <a (click)="onClickTime(interval.viewValue)"> {{ interval.viewValue }} </a>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p *ngIf="infoClientService.gameMode==='power-cards'">
                        <span>Activer ou désactiver des cartes de pouvoirs: </span>
                        <button id="bonusButtonMulti" (click)="showPowerModal()">
                            Liste Cartes
                        </button>
                    </p>
                </div>
            </div>
            <div class="container-3">
                <div class="container-3-box">
                    <mat-form-field appearance="fill" id="dictOptionsMulti" class="multiplayerOptionsMulti">
                        <mat-label>Dictionnaire utilisé :</mat-label>
                        <mat-select [(value)]="this.mockDictionary.title">
                            <mat-option *ngFor="let dict of infoClientService.dictionaries" [value]="dict.title">
                                <h2 class="dictionnarySelection" (click)="onClickDict(dict)">{{ dict.title }}</h2>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div id="dictionnaryDescriptionMulti">
                        Description du dictionaire
                        <h2>{{ this.mockDictionary.description }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <button
            id="startButtonMulti"
            class="startbutton"
            (click)="createRoom()"
            [disabled]="name.invalid || (isChecked && mdp.invalid)"
        >
            Demarrer
        </button>
    </div>

    <!-- The Modal to show the powers available to the player -->
    <div class="modal" [style.display]="displayPowerModal">
        <div class="modal-content" >
            <span id="closeModalX" (click)="hidePowerModal()">X</span>
            <table id="tablePowers">
                <thead>
                  <tr>
                    <th>Pouvoir Description</th>
                    <th>Actif</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let powerCard of infoClientService.game.powerCards">
                    <td>
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="../../../assets/card.png" alt="Avatar" class="cardImg">
                          </div>
                          <div class="flip-card-back">
                            {{powerCard.name}}
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                        <input
                            type="checkbox"
                            id="buttonShowModal"
                            checked
                            (click)="onPowerCardClick(powerCard.name)"
                        >
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
