.container {
    min-height: 100vh;
    height: auto;
    background-image: url('https://www.printablee.com/postpic/2011/03/blank-scrabble-board-template-printable_326282.jpg');
    background-position: center;
    background-attachment: fixed;
}

.justified {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    border-radius: 8px;
    background-color: #0c483f;
    color: wheat;
}

.profile {
    border-radius: 50%;
    background: transparent;
    height: 125px;
    position: absolute;
    right: 10%;
}

