.grid-container {
    display: grid;
    grid-template-columns: auto 620px;
}

.backgroundImage {
    background-image: url('https://www.printablee.com/postpic/2011/03/blank-scrabble-board-template-printable_326282.jpg');
    background-position: center;
    background-attachment: fixed;
}

.backgroundGame {
    background-color: #0c483f;
}
  
.grid-item {
    text-align: center;
    min-height: 100vh;
}

#playersInfoNoLog{
    margin-top: 3%;
    margin-right: 6%;
    margin-bottom: 0px;
}

#communicationBoxNoLog{
    margin-top: 5%;
    bottom: 0vh;
}

.MPButton {
    cursor: pointer;
    top: 10px;
    left: 10px;
    position: absolute;
    transform: scale(2);
    margin-top: 2%;
    margin-left: 2%;
    color: #0c483f;
  }