.container {
    min-height: 100vh;
    height: auto;
    background-image: url('../../../assets/scrabble-background.jpg');
    background-position: center;
    background-attachment: fixed;
}

.justified {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    border-radius: 8px;
    background-color: #0c483f;
    color: wheat;
}

#loginBtn{
    margin-top: 3%;
    padding: 25px;
    font-size: 45px;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-size: 25px;
    color: #0c483f;
}

.footer-item {
    position: absolute;
    text-align: center;
    color: #0c483f;
    font-size: 20px;
    bottom: 0%;
}

.material-symbols-outlined {
  top: 5%;
  right: 5%;
  position: absolute;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  background-color: wheat;
  color: #0c483f;
  border-radius: 40px;
  padding: 10px;
}

#logoScrabble{
    user-select: none;
}