.container {
    min-height: 100vh;
    height: auto;
    background-image: url('https://www.printablee.com/postpic/2011/03/blank-scrabble-board-template-printable_326282.jpg');
    background-position: center;
    background-attachment: fixed;
}

.justified {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    border-radius: 8px;
    background-color: #0c483f;
    color: wheat;
}

#loginBtn{
    margin-top: 3%;
    padding: 25px;
    font-size: 45px;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-size: 25px;
    color: #0c483f;
}

.footer-item {
    position: absolute;
    text-align: center;
    color: #0c483f;
    font-size: 20px;
    bottom: 0%;
}

#logoScrabble{
    user-select: none;
}