.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    border-radius: 8px;
    
    
}

.profile {
    border-radius: 50%;
    background: transparent;
    height: 125px;
    position: absolute;
    right: 11%;
    top: 5%;
}
