<div id="main">
    <div id="divHandlerTurns">
        <h2 id="playerToPlay">{{ infoClientService.displayTurn }}</h2>
        <button mat-raised-button id="timer">
            <app-timer></app-timer>
        </button>
        <button
            *ngIf="!infoClientService.isSpectator"
            mat-raised-button
            [disabled]="socketService.socket.id !== infoClientService.game.currentPlayerId" 
            id="passBtn"
            class="btnStyle"
            (click)="skipTurnButton()"
        >Passer
        </button>
    </div>
    <div *ngIf="!infoClientService.isSpectator" class="btnsContainer">
        <button
            mat-raised-button
            id="exchangeBtn"
            class="btnStyle"
            (click)="this.onExchangeClick()"
            [disabled]= "(infoClientService.game.currentPlayerId !== socketService.socket.id) || !this.drawingService.areLettersRightClicked(infoClientService.player.stand)"
        >Échanger
        </button>
        <button
            mat-raised-button
            id="cancelBtn"
            class="btnStyle"
            (click)="this.onCancelClick()"
            [disabled]= "(infoClientService.game.currentPlayerId !== socketService.socket.id) || !this.drawingService.areLettersRightClicked(infoClientService.player.stand)"
        >Annuler
        </button>
        <button
            mat-raised-button
            id="playBtn"
            class="btnStyle"
            (click)= "this.placeGraphicService.manageKeyBoardEvent(infoClientService.game, infoClientService.player, enter)"
            [disabled]= "(infoClientService.game.currentPlayerId !== socketService.socket.id)  || !this.placeGraphicService.isLettersDrawnSizeAboveZero()"
        >Jouer
         </button>
    </div>
    <br>
    
    <table id="tableRoom">
        <thead>
          <tr>
            <th>Nom Joueur</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
            <!-- TODO maybe change that ? It's a bit ugly but had no idea how to do otherwise -->
          <tr *ngFor="let player of infoClientService.rooms[infoClientService.idxActualRoom].players">
            <td>{{player.name}}</td>
            <td>{{player.score}}</td>
          </tr>
        </tbody>
      </table>
</div>