<div id="main">
    <div id="divHandlerTurns">
        <h2 id="playerToPlay">{{ infoClientService.displayTurn }}</h2>
        <button mat-raised-button id="timer">
            <app-timer></app-timer>
        </button>
        <button
            *ngIf="!infoClientService.isSpectator"
            mat-raised-button
            [disabled]="!infoClientService.isTurnOurs || infoClientService.game.gameFinished"
            id="passBtn"
            class="btnStyle"
            (click)="skipTurnButton()"
        >Passer
        </button>
    </div>
    <div *ngIf="!infoClientService.isSpectator" class="btnsContainer">
        <button
            mat-raised-button
            id="exchangeBtn"
            class="btnStyle"
            (click)="this.onExchangeClick()"
            [disabled]= "!infoClientService.isTurnOurs || !this.drawingService.areLettersRightClicked(infoClientService.player.stand) || infoClientService.game.gameFinished"
        >Échanger
        </button>
        <button
            mat-raised-button
            id="cancelBtn"
            class="btnStyle"
            (click)="this.onCancelClick()"
            [disabled]= "!infoClientService.isTurnOurs|| !this.drawingService.areLettersRightClicked(infoClientService.player.stand) || infoClientService.game.gameFinished"
        >Annuler
        </button>
        <button
            mat-raised-button
            id="playBtn"
            class="btnStyle"
            (click)= "this.placeGraphicService.manageKeyboardEvent(infoClientService.game, infoClientService.player, enter)"
            [disabled]= "!infoClientService.isTurnOurs || !this.placeGraphicService.isLettersDrawnSizeAboveZero() || infoClientService.game.gameFinished"
        >Jouer
         </button>
    </div>
    <br>

    <table id="tableRoom">
        <thead>
          <tr>
            <th></th>
            <th>Nom Joueur</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
            <!-- TODO maybe change that ? It's a bit ugly but had no idea how to do otherwise -->
          <tr *ngFor="let player of infoClientService.actualRoom.players">
            <td *ngIf="player.idPlayer !== 'virtualPlayer'"><img [src]="userService.user.avatarUri" class="profile"></td>
            <td *ngIf="player.idPlayer === 'virtualPlayer'"><img [src]="player.avatarForVirtPlayer" class="profile"></td>
            <td>{{player.name}}</td>
            <td>{{player.score}}</td>
          </tr>
        </tbody>
      </table>
</div>
