.container {
  display: flex;
  align-self: center;
  position: fixed;
  bottom: 0;
}

.notInGame {
  margin-bottom: 5%;
  padding-right: 10%;
  align-items: center;
  align-self: center;
}

.detachButton {
  top: 0;
  text-align: center;
  padding: 0;
}

.attachButton {
  top: 0;
  text-align: center;
  padding: 0;
}

.mainDiv {
  display: flex;
  flex-direction: row;
}

#main {
  align-self: center;
  align-content: center;
  border: 5px solid #0C483F;
  // background-color: wheat;
  width: 600px;
  height: 450px;
  padding: 0px;
  padding-top: 0;
}

.title {
  font-weight: bold;
  font-size: large;
  margin-bottom: 5px;
}

#titleChatDashBoard{
  padding: 2px;
  color: #0C483F;
  text-align: center;
  padding-bottom: 0px;
}

#leftDiv{
  width: 28%;
}

.listChatRoom{
  height: 260px;
  overflow-y: scroll;
  border-top: 3px solid #0C483F;
  padding-top: 5px;
}

.chatRoomElement{
  // background-color: #0C483F;
  // color: wheat;
  text-align: center;
  font-size: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 1px;
}

.btnStyle{
  background-color: #0C483F;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: wheat;
  cursor: pointer;
  box-shadow: none;
}

.chatRoomElement:hover{
  cursor: pointer;
  user-select: none;
}

.chatRoomElementPressed{
  // background-color: wheat;
  // color: #0C483F;
  border: 2px solid #0C483F;
}


.leaveIcon{
  display: inline-block;
  vertical-align: middle;
  align-self: center;
}

.searchChatRoomField {
  width: 95%;
  margin-left: 2%;
}

.chatroom {
  margin-left: 10px;
  width: 75%;
}

.rooms {
}

.buttons {
  width: 102%;
  margin: 0px 0px 2px 2px;
}

.action_btn {
  display: inline-block;
  width: 47%;
  padding: 0px;
  margin: 0px 2px 0px;
}

.mainButton {
  padding: 2px;
  width: 90%;
  align-self: center;
  font-size: 16px;
  justify-content: center;
  margin-left: 7%;
  margin-right: 7%;
}

.defaultMode{
  position: fixed;
  top: 50%;
  left: 40%;
}

.button {
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  border-radius: 8px;
  background-color: #0c483f;
  color: wheat;
}

::-webkit-scrollbar {
  width: 8px;
  // Height of horizontal scroll bar
  height: 6px;
}

::-webkit-scrollbar-track {
  background: wheat;
}
::-webkit-scrollbar-thumb {
  background: #0c483f;
  border-radius: 8px;
}