<div id="main">
  <div style="display: flex; flex-direction: row;">
    <div id="leftDiv">
      <div>
        <h2 id="titleChatDashBoard">Canaux de discussion</h2>
        <button mat-button class="btnStyle" (click)="openNewChatroomModal()">
          Créer un canal
        </button>
      </div>
      <div class="rooms">
        <button mat-button class="btnStyle" (click)="openJoinChatRoomModal()">
          Joindre un canal
        </button>
        <div class="listChatRoom">
          <div *ngFor="let chatroom of infoClientService.chatRooms">
            <h3 
              [ngClass]="classChatRoomElement(chatroom.name)"
              class="chatRoomElement" 
              (click)="onChatRoomSelect(chatroom)"
            >{{chatroom.name}} 
              <mat-icon 
                *ngIf="chatroom.name !== 'game' && chatroom.name !== 'general'"
                class="leaveIcon" 
                (click)="onLeaveChatRoomClick(chatroom.name)"
                >exit_to_app
              </mat-icon>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="chatroom">
        <app-communication-box [actualChatRoom]="currSelectedChatroom"></app-communication-box>
    </div>
  </div>
</div>