<div class="container justified">
    <img src="https://i.imgur.com/nyRorRT.png" height="400" alt="Logo Scrabble" />
    <!-- Sign up form -->
    <div *ngIf="showSignup" class="card card-container">
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div>
          <div>
              <h2>Avatar</h2>
              <ngx-gallery (click)="test()" [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery" ></ngx-gallery>
          </div>
          <label for="username">Username</label>
          <input
            type="text"
            class="username"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            class="email"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div>
          <label for="password">Password</label>
          <input
            type="password"
            class="password"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div>
          <button class="signUpInBtn">Sign Up</button>
        </div>
        <br>
        <div>
            <p>If you already have an account, click the sign-in button:
                <button (click)="toggleShow()" class="signUpInBtn">Sign In</button>
            </p>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>

    <!-- Sign in form -->
    <div *ngIf="!showSignup" class="card card-container">
        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div>
            <label for="email">Email</label>
            <input
              type="email"
              class="email"
              name="email"
              [(ngModel)]="form.email"
              required
              email
              #email="ngModel"
            />
            <div class="alert-danger" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div>
            <label for="password">Password</label>
            <input
              type="password"
              class="password"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            />
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div>
            <button class="signUpInBtn">Sign In</button>
          </div>
          <br>
          <div>
              <p>If you don't have an account, click the sign-up button:
                <button (click)="toggleShow()" class="signUpInBtn">Sign Up</button>
              </p>
          </div>

          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
      </div>
  </div>
