<div id="commBox" (click)="onLeftClickComBox()">
    <div class="wrapper">
        <div class="sidebar" #scrollFrame>
            <div class="wholeMessage" *ngFor="let msg of getPlayerHistory()" #commands>
                <div [ngClass]="chooseMsgClass(msg)" class="senderName msg">{{ msg.senderName }}</div>
                <div [ngClass]="chooseMsgClass(msg)" class="msg">
                    {{ msg.msg }}<span [ngClass]="chooseMsgClass(msg)" class="timestamp msg">{{ convertTimestamp(msg.timestamp) }}</span>
                </div>
            </div>

            <div class="wholeMessage" *ngFor="let msg of getSpecHistory()" #commands>
                <div [ngClass]="chooseMsgClass(msg)" class="senderName msg">{{ msg.senderName }}</div>
                <div [ngClass]="chooseMsgClass(msg)" class="msg">
                    {{ msg.msg }}<span [ngClass]="chooseMsgClass(msg)" class="timestamp msg">{{ convertTimestamp(msg.timestamp) }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="input">
        <input
            [defaultValue]=""
            id="inputCommBox"
            class="inputField"
            type="text"
            placeholder="{{'GAME.PLACEHOLDER_CHAT' | translate}}"
            [(ngModel)]="inputInComBox"
            (keydown.enter)="onEnterComBox()"
        />
        <button mat-button class="btnStyle" (click)="onEnterComBox()">{{'GAME.SEND' | translate}}</button>
    </div>
</div>
