<div id="commBox" (click)="onLeftClickComBox()">
    <div class="wrapper">
        <div class="sidebar" #scrollFrame>
            <div *ngFor="let msg of getPlayerHistory()" #commands>
                <p [ngClass]="chooseMsgClass(msg)" class="senderName msg">{{ msg.senderName }}</p>
                <p [ngClass]="chooseMsgClass(msg)" class="msg">
                    {{ msg.msg }}<span [ngClass]="chooseMsgClass(msg)" class="timestamp msg">{{ convertTimestamp(msg.timestamp) }}</span>
                </p>
            </div>

            <div *ngFor="let msg of getSpecHistory()" #commands>
                <p [ngClass]="chooseMsgClass(msg)" class="senderName msg">{{ msg.senderName }}</p>
                <p [ngClass]="chooseMsgClass(msg)" class="msg">
                    {{ msg.msg }}<span [ngClass]="chooseMsgClass(msg)" class="timestamp msg">{{ convertTimestamp(msg.timestamp) }}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="input">
        <input
            id="inputCommBox"
            class="inputField"
            type="text"
            placeholder="Ecrivez une commande avec ! ou un message"
            [(ngModel)]="inputInComBox"
            (keydown.enter)="onEnterComBox()"
        />
        <button mat-button class="btnStyle" (click)="onEnterComBox()">Envoyer</button>
    </div>
</div>
