<div class="container">
    <h1>CONTRÔLES</h1>
    <div *ngIf="!infoClientService.isSpectator" class="buttonContainer">
        <button 
            mat-raised-button 
            matTooltip="Abandonner"
            *ngIf="!infoClientService.game.gameFinished"
            (click)="onClickGiveUpButton()" 
            class="optionButton"
        >
        Abandonner
        </button>
    </div>

    <div id="sliderTiles">
        <p>Taille de police tuiles : {{ fontSize.value }} (px).</p>
        <mat-slider #fontSize (change)="updateSetting($event)" tickInterval="2" step="1" min="15" max="23" value="19"> </mat-slider>
    </div>
    
    <div class="buttonContainer">
        <button
            mat-raised-button
            *ngIf="shouldLeaveGameBe()"
            id="cancelGame"
            class="optionButton"
            (click)="leaveGame()"
            routerLink="/multiplayer-init"
        >
            Quitter Partie
        </button>
    </div>

    <div *ngIf="!infoClientService.isSpectator" class="buttonContainer">
        <button 
            mat-raised-button 
            *ngIf="infoClientService.creatorShouldBeAbleToStartGame" 
            id="startGame" 
            class="optionButton" 
            (click)="startGame()"
        >
            START GAME
        </button>
    </div>
    <div *ngIf="infoClientService.isSpectator" class="buttonContainer">
        <button 
            mat-raised-button 
            *ngIf="shouldSpecBeAbleToBePlayer()" 
            id="specBecomePlayer" 
            class="optionButton" 
            (click)="spectWantsToBePlayer()"
        >
            Prendre la place d'un joueur virtuel
        </button>
    </div>
</div>
