<body>
  <div class="bg-image"></div>
  <div id="container" class="center">
    <div id="container-content">
      <div class="container-1">
        <div class="box-1">
          <mat-icon>person</mat-icon>
          <p>{{ this.infoClientService.playerName }} (Vous)</p>
        </div>
        <div class="box-3">
          <button class="createButton" mat-button routerLink="/param-select">Créer Partie</button>
        </div>
        <div *ngIf="this.infoClientService.rooms.length === 0; else show"></div>
        <ng-template #show>
          <div class="box-3" *ngIf="this.infoClientService.rooms.length >= 2; else disabled">
            <button class="createButton" mat-button (click)="onClickRandom()">Aléatoire</button>
          </div>
          <ng-template #disabled>
            <div class="box-3" #disabled>
              <button class="createButton" mat-button (click)="onClickRandom()" disabled=true>Aléatoire</button>
            </div>
          </ng-template>
        </ng-template>
      </div>
      <h6 class="MPButton" routerLink="/game-mode-options">
        <mat-icon>arrow_back</mat-icon>
      </h6>

      <h1 id="roomListTitle">LISTE DES SALLES DE JEUX</h1>
      <div class="roomList">
        <table id="tableRoom">
          <thead>
            <tr>
              <th>Nom salle</th>
              <th>Temps par tour</th>
              <th>Bonus Random</th>
              <th>Players</th>
              <th>Spectators</th>
              <th>Liste joueurs</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of infoClientService.rooms">
              <td (click)="this.onClickGame(room.name)">{{room.name}}</td>
              <td (click)="this.onClickGame(room.name)">{{room.timeTurn}} min</td>
              <td (click)="this.onClickGame(room.name)">{{room.isBonusRandom ? "Activé" : "Désactivé"}}</td>
              <td (click)="this.onClickGame(room.name)">{{room.players.length}} </td>
              <td (click)="this.onClickGame(room.name)">{{room.spectators.length}} </td>
              <td (click)="this.onClickMoreInfo(room.name)"><input type="button" id="buttonShowModal" value="Liste joueurs" ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- The Modal to show the list of players real and virtuel-->
  <div id="modalListPlayers" class="modal" [style.display]="displayStyleModal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" (click)="this.closeListPlayerModal()">&times;</span>
      <p id="creatorOfGame" class="listPlayersStyle"></p>
      <ul id="listPlayer" class="listPlayersStyle"></ul>
      <ul id="listVP" class="listPlayersStyle"></ul>
    </div>
  </div>

  <!-- The Modal to ask for password when entering a game -->
  <div class="modal" [style.display]="passwdModalStyle">
      <div class="modal-content" >
          <h1>Partie protégée par un mot de passe</h1>
          <p>
            Entrez le mot de passe: <input type="text" [(ngModel)]="passwordText" />
          </p>
          <button (click)="askForPasswd()">Ok</button>
      </div>
  </div>
</body>
